<a href="https://colab.research.google.com/github/Onome1991/car_insurance/blob/main/car_insurance.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd

In [10]:
from google.colab import files
uploaded= files.upload()

Saving Car_Insurance.csv to Car_Insurance.csv

In [12]:
import io
data = pd.read_csv(io.BytesIO(uploaded['Car_Insurance.csv']))

In [13]:
data

,Id,Age,Job,Marital,Education,Default,Balance,HHInsurance,CarLoan,Communication,LastContactDay,LastContactMonth,NoOfContacts,DaysPassed,PrevAttempts,Outcome,CallStart,CallEnd,CarInsurance
0,1,32,management,single,tertiary,0,1218,1,0,telephone,28,jan,2,-1,0,NaN,13:45:20,13:46:30,0
1,2,32,blue-collar,married,primary,0,1156,1,0,NaN,26,may,5,-1,0,NaN,14:49:03,14:52:08,0
2,3,29,management,single,tertiary,0,637,1,0,cellular,3,jun,1,119,1,failure,16:30:24,16:36:04,1
3,4,25,student,single,primary,0,373,1,0,cellular,11,may,2,-1,0,NaN,12:06:43,12:20:22,1
4,5,30,management,married,tertiary,0,2694,0,0,cellular,3,jun,1,-1,0,NaN,14:35:44,14:38:56,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3995,3996,28,technician,single,tertiary,0,0,1,0,cellular,25,may,1,40,2,failure,17:46:28,17:50:57,1
3996,3997,49,admin.,divorced,secondary,0,124,1,1,cellular,29,jul,19,-1,0,NaN,14:49:16,14:51:21,0
3997,3998,27,admin.,single,secondary,0,-400,0,1,cellular,8,jul,1,-1,0,NaN,12:19:03,12:23:53,0
3998,3999,36,entrepreneur,single,tertiary,0,658,1,0,cellular,29,jan,1,227,3,failure,11:27:35,11:29:14,0
3999,4000,45,services,married,primary,0,137,1,0,NaN,9,may,2,-1,0,NaN,13:31:48,13:36:22,0

# **Observe the name of the columns and the corresponding data type**

In [14]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4000 entries, 0 to 3999
Data columns (total 19 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Id                4000 non-null   int64
 1   Age               4000 non-null   int64
 2   Job               3981 non-null   object
 3   Marital           4000 non-null   object
 4   Education         3831 non-null   object
 5   Default           4000 non-null   int64
 6   Balance           4000 non-null   int64
 7   HHInsurance       4000 non-null   int64
 8   CarLoan           4000 non-null   int64
 9   Communication     3098 non-null   object
 10  LastContactDay    4000 non-null   int64
 11  LastContactMonth  4000 non-null   object
 12  NoOfContacts      4000 non-null   int64
 13  DaysPassed        4000 non-null   int64
 14  PrevAttempts      4000 non-null   int64
 15  Outcome           958 non-null    object
 16  CallStart         4000 non-null   object
 17  CallEnd           4000 non-null   object
 18  CarInsurance      4000 non-null   int64
dtypes: int64(11), object(8)
memory usage: 593.9+ KB

# **Check how many missing values each column has**

In [15]:
data.isnull().sum()

Id                     0
Age                    0
Job                   19
Marital                0
Education            169
Default                0
Balance                0
HHInsurance            0
CarLoan                0
Communication        902
LastContactDay         0
LastContactMonth       0
NoOfContacts           0
DaysPassed             0
PrevAttempts           0
Outcome             3042
CallStart              0
CallEnd                0
CarInsurance           0
dtype: int64

# **Drop the rows containing missing values**

In [16]:
data1=data.dropna()

In [18]:
data1

,Id,Age,Job,Marital,Education,Default,Balance,HHInsurance,CarLoan,Communication,LastContactDay,LastContactMonth,NoOfContacts,DaysPassed,PrevAttempts,Outcome,CallStart,CallEnd,CarInsurance
2,3,29,management,single,tertiary,0,637,1,0,cellular,3,jun,1,119,1,failure,16:30:24,16:36:04,1
5,6,32,technician,single,tertiary,0,1625,0,0,cellular,22,may,1,109,1,failure,14:58:08,15:11:24,1
15,16,61,management,single,tertiary,0,2,0,0,cellular,12,aug,1,114,3,failure,16:18:48,16:20:59,1
16,17,34,admin.,single,secondary,0,69,1,0,telephone,6,may,3,362,4,other,11:48:45,11:50:17,0
17,18,46,management,married,tertiary,0,7331,0,0,cellular,11,sep,4,95,2,other,11:23:26,11:34:24,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3987,3988,27,admin.,married,tertiary,0,2855,0,0,cellular,25,jan,1,301,3,failure,09:55:44,09:59:44,1
3990,3991,27,technician,single,secondary,0,126,1,1,cellular,5,feb,2,216,4,failure,13:30:49,13:33:16,0
3992,3993,34,technician,married,secondary,0,0,1,0,cellular,5,aug,2,2,3,success,10:51:19,10:55:10,1
3995,3996,28,technician,single,tertiary,0,0,1,0,cellular,25,may,1,40,2,failure,17:46:28,17:50:57,1
3998,3999,36,entrepreneur,single,tertiary,0,658,1,0,cellular,29,jan,1,227,3,failure,11:27:35,11:29:14,0

In [17]:
data1.isnull().sum()

Id                  0
Age                 0
Job                 0
Marital             0
Education           0
Default             0
Balance             0
HHInsurance         0
CarLoan             0
Communication       0
LastContactDay      0
LastContactMonth    0
NoOfContacts        0
DaysPassed          0
PrevAttempts        0
Outcome             0
CallStart           0
CallEnd             0
CarInsurance        0
dtype: int64

# **Observe the Job column. How many categories can you find? What is the most frequent?**

In [20]:
data1['Job'].value_counts()

Job
management       231
technician       152
blue-collar      131
admin.           114
services          69
retired           64
unemployed        48
student           40
self-employed     27
entrepreneur      16
housemaid         15
Name: count, dtype: int64

# **Create a new column with the duration of each call in seconds**

In [26]:
# Convert 'CallStart' and 'CallEnd' columns to datetime objects
data1['CallStart'] = pd.to_datetime(data1['CallStart'])
data1['CallEnd'] = pd.to_datetime(data1['CallEnd'])


data1['call_duration']= data1['CallEnd']- data1['CallStart']

<ipython-input-26-695391388ec3>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data1['CallStart'] = pd.to_datetime(data1['CallStart'])
<ipython-input-26-695391388ec3>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data1['CallEnd'] = pd.to_datetime(data1['CallEnd'])
<ipython-input-26-695391388ec3>:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data1['call_duration']= data1['CallEnd']- data1['CallStart']

In [27]:
data1

,Id,Age,Job,Marital,Education,Default,Balance,HHInsurance,CarLoan,Communication,LastContactDay,LastContactMonth,NoOfContacts,DaysPassed,PrevAttempts,Outcome,CallStart,CallEnd,CarInsurance,call_duration
2,3,29,management,single,tertiary,0,637,1,0,cellular,3,jun,1,119,1,failure,2024-09-07 16:30:24,2024-09-07 16:36:04,1,0 days 00:05:40
5,6,32,technician,single,tertiary,0,1625,0,0,cellular,22,may,1,109,1,failure,2024-09-07 14:58:08,2024-09-07 15:11:24,1,0 days 00:13:16
15,16,61,management,single,tertiary,0,2,0,0,cellular,12,aug,1,114,3,failure,2024-09-07 16:18:48,2024-09-07 16:20:59,1,0 days 00:02:11
16,17,34,admin.,single,secondary,0,69,1,0,telephone,6,may,3,362,4,other,2024-09-07 11:48:45,2024-09-07 11:50:17,0,0 days 00:01:32
17,18,46,management,married,tertiary,0,7331,0,0,cellular,11,sep,4,95,2,other,2024-09-07 11:23:26,2024-09-07 11:34:24,1,0 days 00:10:58
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3987,3988,27,admin.,married,tertiary,0,2855,0,0,cellular,25,jan,1,301,3,failure,2024-09-07 09:55:44,2024-09-07 09:59:44,1,0 days 00:04:00
3990,3991,27,technician,single,secondary,0,126,1,1,cellular,5,feb,2,216,4,failure,2024-09-07 13:30:49,2024-09-07 13:33:16,0,0 days 00:02:27
3992,3993,34,technician,married,secondary,0,0,1,0,cellular,5,aug,2,2,3,success,2024-09-07 10:51:19,2024-09-07 10:55:10,1,0 days 00:03:51
3995,3996,28,technician,single,tertiary,0,0,1,0,cellular,25,may,1,40,2,failure,2024-09-07 17:46:28,2024-09-07 17:50:57,1,0 days 00:04:29
3998,3999,36,entrepreneur,single,tertiary,0,658,1,0,cellular,29,jan,1,227,3,failure,2024-09-07 11:27:35,2024-09-07 11:29:14,0,0 days 00:01:39

## **What is the average duration of each call?**

In [32]:
data1['call_duration'].describe()

count                          907
mean     0 days 00:05:35.748621830
std      0 days 00:04:59.081427935
min                0 days 00:00:07
25%                0 days 00:02:27
50%                0 days 00:04:10
75%                0 days 00:06:56
max                0 days 00:36:24
Name: call_duration, dtype: object

# **For those people contacted during the first half of the year (Jan-June). What is the most common way of communication (telephone, cellular...)**

In [41]:
data1['LastContactMonth'].value_counts()

LastContactMonth
may    213
nov    118
feb     96
apr     95
aug     86
sep     62
oct     51
jun     50
jan     47
jul     42
mar     25
dec     22
Name: count, dtype: int64

In [38]:
data_filter = data1[data1['LastContactMonth'].isin(['jan','feb','mar','apr','may','jun'])]

In [39]:
data_filter

,Id,Age,Job,Marital,Education,Default,Balance,HHInsurance,CarLoan,Communication,LastContactDay,LastContactMonth,NoOfContacts,DaysPassed,PrevAttempts,Outcome,CallStart,CallEnd,CarInsurance,call_duration
2,3,29,management,single,tertiary,0,637,1,0,cellular,3,jun,1,119,1,failure,2024-09-07 16:30:24,2024-09-07 16:36:04,1,0 days 00:05:40
5,6,32,technician,single,tertiary,0,1625,0,0,cellular,22,may,1,109,1,failure,2024-09-07 14:58:08,2024-09-07 15:11:24,1,0 days 00:13:16
16,17,34,admin.,single,secondary,0,69,1,0,telephone,6,may,3,362,4,other,2024-09-07 11:48:45,2024-09-07 11:50:17,0,0 days 00:01:32
18,19,49,blue-collar,married,secondary,0,2039,1,0,cellular,6,may,1,169,2,failure,2024-09-07 12:42:54,2024-09-07 12:50:25,1,0 days 00:07:31
24,25,60,technician,married,secondary,0,824,1,0,cellular,9,feb,1,558,7,other,2024-09-07 16:30:52,2024-09-07 16:32:59,1,0 days 00:02:07
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3985,3986,40,technician,married,primary,0,644,1,0,cellular,16,apr,2,336,1,failure,2024-09-07 10:49:27,2024-09-07 10:51:25,0,0 days 00:01:58
3987,3988,27,admin.,married,tertiary,0,2855,0,0,cellular,25,jan,1,301,3,failure,2024-09-07 09:55:44,2024-09-07 09:59:44,1,0 days 00:04:00
3990,3991,27,technician,single,secondary,0,126,1,1,cellular,5,feb,2,216,4,failure,2024-09-07 13:30:49,2024-09-07 13:33:16,0,0 days 00:02:27
3995,3996,28,technician,single,tertiary,0,0,1,0,cellular,25,may,1,40,2,failure,2024-09-07 17:46:28,2024-09-07 17:50:57,1,0 days 00:04:29
3998,3999,36,entrepreneur,single,tertiary,0,658,1,0,cellular,29,jan,1,227,3,failure,2024-09-07 11:27:35,2024-09-07 11:29:14,0,0 days 00:01:39

In [42]:
data_filter['Communication'].value_counts()

Communication
cellular     489
telephone     37
Name: count, dtype: int64